<mat-toolbar class="toolbar">
	<div *ngIf="screenWidth < 800" >
		<button type="button" class="btn" (click)="sidenav.open()"><mat-icon style="color: whitesmoke;">menu</mat-icon></button>
	</div>
	&nbsp;
	Admin Desk
	
  </mat-toolbar>
  <mat-sidenav-container class="example-container" >
	<mat-sidenav #sidenav  [opened]="screenWidth > 840 " [mode]="(screenWidth>840) ? 'side': 'over' " class="sidenav">
		<div>
			<mat-nav-list>
				<a mat-list-item routerLink="./Notification" (click)="welcome()"><mat-icon>local_hotel</mat-icon>&nbsp;Book Room</a>
				<a mat-list-item routerLink='./addRoom' (click)="welcome()"><mat-icon>bed</mat-icon>&nbsp;Add Room</a>
				<a mat-list-item routerLink='./History' (click)="welcome()"><mat-icon>history</mat-icon>&nbsp;History</a>
				<a mat-list-item routerLink='./Currentbookings' (click)="welcome()"><mat-icon>check_circle</mat-icon>&nbsp;Current Bookings</a>
				<a mat-list-item *ngIf="loginservice.LoggedIn()" (click)="loginservice.logoutUser()">LogOut</a>
	  		</mat-nav-list>
		</div>
	</mat-sidenav>
	<mat-sidenav-content>
		<!-- <div class="welcome" *ngIf="wlcScreen">
			<h1 id="heading">WELCOME!!!</h1>
	  		<p id="para">ZEP Room Booking system</p>
		</div> -->
		<router-outlet></router-outlet>
	</mat-sidenav-content>
  </mat-sidenav-container>