.History-container{
    padding: 2%;
}

.Card{
    margin-bottom: 1%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.rule{
    border-color:black;
}

.search-container{
    padding-left: 5%;
    
}
.search{
    border-color:navy;
}