<app-navbar></app-navbar>
<div class="container">
    <br> 
    <div class="row justify-content-center">
        <div class="col-md-6">
                <div class="card">
                    <header class="card-header">
                    <a  class="float-right btn btn-outline-primary mt-1" routerLink = "../login">Log in</a>
                    <h4 class="card-title mt-2">Sign up</h4>
                    </header>
                    <article class="card-body">
                        <form (submit)="registerUser($event)">
                            <div class="form-row">
                                <div class="col form-group">
                                <label>First name </label>   
                                <input type="text" required name="firstname" #firstname class="form-control" id="firstname">
                            </div> 
                            <div class="col form-group">
                                <label>Last name</label>
                                <input type="text" required name="lastname" #lastname class="form-control" id="lastname">
                            </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" required name="email" #email class="form-control" id="email">
                                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div> <!-- form-group end.// -->
                            <!-- form-group end.// -->
                            <!-- form-row.// -->
                            <div class="form-group">
                                <label>Create password</label>
                                <input class="form-control" required name="password" id="password" type="password">
                            </div> <!-- form-group end.// -->  
                            <div class="form-group">
                                <button type="submit" id="submit" class="btn btn-primary btn-block"> Register  </button>
                            </div> <!-- form-group// -->      
                            <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
                        </form>
                    </article> <!-- card-body end .// -->
                    <div class="border-top card-body text-center">Have an account? <a href="">Log In</a></div>
                </div> <!-- card.// -->
        </div> <!-- col.//-->
    </div> <!-- row.//-->
</div> 
<!--container end.//-->
    